.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__title {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 350px;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: none;
  width: 23px;
  height: 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  position: relative;
}

.card__heart-icon {
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url(../images/heart-outline.svg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card__heart-icon:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__image {
    height: 288px;
  }
}
