.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.card__heart-icon {
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url(../images/heart-outline.svg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card__like-button:hover .card__heart-icon {
  opacity: 1;
  transform: scale(1.1);
}

.card__like-button.liked .card__heart-icon {
  opacity: 1;
  background-image: url(../images/heart-filled.svg);
  transform: scale(1.2);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
